body {
	background-image: url("/assets/images/paper.jpg");
}

.small_wrapper {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

.item_info:hover{
	font-weight: bold;
}
.main_wrapper {
	margin-top: 90px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
}

.title {
	font-family: 'georgia', 'bitstream vera serif', serif;
	font-size: 60px;
	text-align: center;
	margin: 30px 0;
}